<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="bg-light">

<div class="container-fluid h-100 mt-3">

    <div class="row header_height">
        <div class="col-md-2"><img img src="/static/img/logo-travelo-white.png"></div>
        <div class="col-md-5 offset-1">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="#">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-black-50" href="#">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-black-50" href="#">Destination</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black-50" data-toggle="dropdown" href="#">Pages</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled text-black-50" href="#">Contact</a>
                </li>
            </ul>
        </div>

        <div class="col-md-2"> 10(256)-928 256</div>

        <div class="col-md-2">
            <ul class="list">
                <li><a href="#"><img img src="/static/img/facebook-scalable-graphics-icon-facebook-logo-facebook-logo-png-clip-art.png" width="10%"></a></li>
                <li><a href="#"><img img src="/static/img/kisspng-google-logo-google-home-google-now-google-plus-5ab9b2a62065a5.8530492315221193341327.jpg" width="10%"></a></li>
                <li><a href="#"><img img src="/static/img/pngtree-instagram-social-media-icon-design-template-vector-png-image_3654775.jpg" width="10%"></a></li>
                <li><a href="#"><img img src="/static/img/youtube-play-button-computer-icons-youtube.jpg" width="10%"></a></li>
            </ul>
        </div>
    </div>  <!--header -->

    {% block content %}
    {% endblock %}

    <div class="lib container-fluid bg-dark row">
        <div class="row">
            <div class="col-3 abb">
                <div>
                    <img img src="/static/img/logo-travelo-white.png">
                    <div class="abs">
                        <p style="color: white">5th flora, 700/D kings road, green</p>
                        <p style="color: white">lane New York-1782</p>
                        <p style="color: white">+10 367 826 2567</p>
                        <p style="color: white">contact@carpenter.com</p>
                    </div>
                    <div class="">
                        <ul class="list position-relative" style="left: 1px">
                            <li><a href="#"><img img src="/static/img/facebook-scalable-graphics-icon-facebook-logo-facebook-logo-png-clip-art.png" width="10%"></a></li>
                            <li><a href="#"><img img src="/static/img/kisspng-google-logo-google-home-google-now-google-plus-5ab9b2a62065a5.8530492315221193341327.jpg" width="10%"></a></li>
                            <li><a href="#"><img img src="/static/img/pngtree-instagram-social-media-icon-design-template-vector-png-image_3654775.jpg" width="10%"></a></li>
                            <li><a href="#"><img img src="/static/img/youtube-play-button-computer-icons-youtube.jpg" width="10%"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3 absdf">
                <p id="agf" class="text-white">Company</p>
                <div class="as">
                    <a href="#"><p class="asw">Pricing</p></a>
                    <a href="#"><p class="asw">About</p></a>
                    <a href="#"><p class="asw">Gallery</p></a>
                    <a href="#"><p class="asw">Contact</p></a>
                </div>
            </div>
            <div class="col-3 absdw">
                <p class="text-white">Popular Destination</p>
                <div class="as">
                    <ul class="list-unstyled">
                        <li><a class="asdwqz" href="#">Indonesia</a>    <a class="asdwqzh" href="#">   America</a></li>
                        <li><a class="asdwqz" href="#">India</a>        <a class="asdwqzhh" href="#">Switzerland</a></li>
                        <li><a class="asdwqz" href="#">Italy</a>      <a class="asdwqzhhh" href="#">Canada</a></li>
                        <li><a class="asdwqz" href="#">Franch</a>    <a class="asdwqzhhhh" href="#">England</a></li>
                    </ul>
                </div>
            </div>
        </div>




</div>




<script img src="/static/img/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script img src="/static/img/https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script img src="/static/img/https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script img src="/static/img/https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>